.js_info {
    box-sizing: border-box;
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    font-family: sans-serif;
    color: #676565;
    background-color: #feeed6;
}

.header {
    margin: 0;
    padding-top: 5px;
    font-size: 32px;
    line-height: 1.1;
}

.declaring {
    margin: 0;
    padding-top: 16px;
    font-size: 20px;
    line-height: 0.8;
}

.course_header {
    margin: 0;
    padding-top: 19px;
    font-size: 18px;
}

.course_content {
    margin: 0;
    padding-top: 9px;
    padding-bottom: 2px;
    font-size: 17px;
    line-height: 1.42;
    word-spacing: 2px;
    text-align: justify;
    text-indent: 18px;
}

.crossed_text {
    text-decoration-line: line-through;
}

.color_text {
    font-weight: 700;
    color: #378db2;
}