.js_info {
    width: min(100vw, 850px);
    height: max(463px, 850*463/width);
    margin: 0 auto;
    font-family: sans-serif;
    color: #676565;
    background-color: #feeed6;
}

.header {
    font-size: 32px;
    margin: 0;
    padding: 5px 10px 6px;
}

.declaring {
    font-size: 20px;
    margin: 0;
    padding: 6px 9px 3px;
}

.course_header {
    font-size: 18px;
    margin: 0;
    padding: 12px 9px 4px;
}

.course_content {
    font-size: 17px;
    margin: 0;
    padding: 6px 9px;
    line-height: 1.45;
    word-spacing: 1px;
    text-align: justify;
    text-indent: 18px;
}

.crossed_text {
    text-decoration-line: line-through;
}

.color_text {
    font-weight: 700;
    color: #378db2;
}