.js_info {
    box-sizing: border-box;
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    font-family: sans-serif;
    color: #676565;
    background-color: #feeed6;
}

.js_info > p {
    margin: 0;
}

.header {
    padding-top: 7px;
    padding-bottom: 4px;
    font-size: 32px;
    line-height: 1.1;
}

.declaring {
    padding-top: 11px;
    font-size: 19px;
    line-height: 1.1;
}

.course_header {
    padding-top: 15px;
    font-size: 19px;
}

.course_content {
    margin: 0;
    padding-top: 8px;
    padding-bottom: 3px;
    font-size: 17px;
    line-height: 1.42;
    word-spacing: 2px;
    text-align: justify;
    text-indent: 18px;
}

.crossed_text {
    text-decoration-line: line-through;
}

.color_text {
    font-weight: 700;
    color: #378db2;
}