.humans_table {
    width: 100%;
    max-width: 855px;
    margin: 0 auto;
    border-collapse: collapse;
    font-family: "Lucida Sans Unicode", serif;
    font-size: 20px;
    text-align: left;
}

.humans_table th, .humans_table td {
    padding: 14px 12px;
    border: 1px solid #d9d9d9;
}

.humans_table th {
    color: #fff;
    background-color: #3498db;
}

.humans_table tr:nth-child(odd) {
    background-color: #eee;
}